


/* 게임정보 */


.ad_link {
  background: url(../img/03_ad.jpg) no-repeat center/cover;
  color: #fff;
  width: 100%;
  height: 260px;
  align-content: space-around;
  padding: 0 7% ;
  transition: all .3s;
}

.ad_link:hover a {
  /* color: #222; */
  background: #222;
}

.ad_link:hover {
  background: #eaa url(../img/03_people.jpg) no-repeat center;
  color: #222;
}

/* .ad_link::before{
  
  top: -100px;
  width: 100vw;
  height: 180px;
  content: "";
  background: rgba(20, 20, 20, 0.5);
  position: absolute;
  opacity: 1;
  transition: all .3s; 
}
  */
.ad_link .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  transition: all .5s;
}

.btn:hover {
  background-color: #fff;
  border-radius: 20px;
}

.sec-type1, .sec-type2{
  height: 100vh;
  width: 100%;
  align-content: center;
}

.sec-type2 .container {

  /* display: flex; */
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.dep1_list {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.dep1_list li a {
  text-align: center;
  align-content: center;
}

.dep1_list li {
  padding: 50px;
  width: 300px;
}

.dep1_list li div {
  margin: 30px 0;

}

.dep1_list .img_wrap {
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;

}

.dep1_list .img_wrap img {
  background-color: #000;
  height: 100%;
  width: 100%;
  align-items: center;
}

.sec-type3{
  height: 100vh;
  background: #222;
}