

:root {
  --swiper-theme-color: #fff;
}

.container {
  width: 100%;
  padding: 0 20px;
  transition: all 0.3s;
}


.bg-grey {
  background: #f8f8f8;
}

.sec-g {
  padding: 30px 0;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}


#main {
  flex: 1;

}

/* .sec-type1,
.sec-type2 {
  padding: 50px 0;
} */

.sec-type1 ,
.sec-type2 {
    
    background-color: #f8f8f8;
}

.sec-type1 .sec-title,
.sec-type2 .sec-title {
  padding-bottom: 30px;
  font-size: 1.875rem;
  color: #000;
  text-align: center;
}

.sec-txt {
  padding-bottom: 30px;
  font-size: 1.2rem;
  color: #000;
  text-align: center;

}


#homeTop {
  height: 100vh;
}


.ad_link {
  background: url(../img/03_ad.jpg) no-repeat center/cover;
  color: #fff;
  width: 100%;
  height: 260px;
  align-content: space-around;
  padding: 0 7% ;
  transition: all .3s;
}

.ad_link:hover a {
  /* color: #222; */
  background: #222;
}

.ad_link:hover {
  background: #eaa url(../img/03_people.jpg) no-repeat center;
  color: #222;
}

/* .ad_link::before{
  
  top: -100px;
  width: 100vw;
  height: 180px;
  content: "";
  background: rgba(20, 20, 20, 0.5);
  position: absolute;
  opacity: 1;
  transition: all .3s; 
}
  */
.ad_link .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  transition: all .5s;
}

.btn:hover {
  background-color: #fff;
  border-radius: 20px;
}

.sec-type1, .sec-type2{
  height: 100vh;
  width: 100%;
  align-content: center;
}

.sec-type2 .container {

  /* display: flex; */
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.dep1_list {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.dep1_list li a {
  text-align: center;
  align-content: center;
}

.dep1_list li {
  padding: 50px;
  width: 300px;
}

.dep1_list li div {
  margin: 30px 0;

}

.dep1_list .img_wrap {
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;

}

.dep1_list .img_wrap img {
  background-color: #000;
  height: 100%;
  width: 100%;
  align-items: center;
}

.sec-type3{
  height: 100vh;
  background: #222;
  align-content: center;
  text-align: center;
}

.sec-type3 .container,
.sec-type3 .container .sec-txt{
  color: #fff;
}
.sec-type3 .sec-content{
  justify-content: center;
  display: flex;
}
.sec-type3 .box{
  background: #fff;
  height: 500px;
  width: 400px;
  padding: 10px;
  margin: 20px;
  border-radius: 50px;
}