@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://unpkg.com/aos@next/dist/aos.css);

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
dt,
dd,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text],
input[type=password],
input[type=submit],
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border-radius: 0;
}

input[type=button],
input[type=submit],
input[type=reset],
input[type=file] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 17px;
  line-height: 1.5;
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

/* desktop */
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #1d1d1d;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
  color: #246beb;
}


@media screen and (min-width: 1280px) {
  a {
    color: #333;
    text-decoration: none;
  }

  a:active,
  a:hover {
    /* text-decoration: underline; */

    color: #246beb;
  }
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}

#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}

#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: #fff;
}

.container {
  width: 100%;
  padding: 0 20px;
  transition: all 0.3s;
}


@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
  }

  /* scrolling */
  body.scrolling .tit_mob img.mob_logo_bl {
    opacity: 1;
  }

  body.scrolling .tit_mob img.mob_logo_wh {
    opacity: 0;
  }

  body.scrolling .kebab_ico span {
    background-color: #000000;
  }

  body.scrolling nav ul a {
    color: #fff;
  }

  body.scrolling nav ul li:hover a {
    color: #007aff;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.bg-grey {
  background: #f8f8f8;
}

.sec-g {
  padding: 30px 0;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.swiper {
  width: 100%;
  /* height: 100vh; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;

}

/* 0.부터 시작하니 래빗때 좌우반전 */
#homeTop .swiper-slide img:nth-child(1) {
  transform: scaleX(-1);
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@media screen and (min-width: 1280px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.05);
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #logo a {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 1.4rem;
  color: #fff;
}

#header #gnb {
  display: flex;
}

#header #gnb .label-menu {
  position: relative;
  z-index: 1000;
}

#header #gnb .label-menu .bar {
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 5px 0;
  border-radius: 3px;
  transition: all 0.3s;
}

#header #gnb #btnMenu:checked+.label-menu .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  background: #000;
}

#header #gnb #btnMenu:checked+.label-menu .bar:nth-child(2) {
  opacity: 0;
}

#header #gnb #btnMenu:checked+.label-menu .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  background: #000;
}

#header #gnb #btnMenu:checked~.menu-wrap {
  left: 0;
}

#header #gnb .menu-wrap {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding: 20px;
  background: #fff;
  transition: all 0.3s;
}

#header #gnb .m-util {
  display: flex;
  gap: 5px;
  padding: 0;
}

#header #gnb .m-util a {
  display: flex;
  align-items: center;
  padding: 7px 20px 5px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  color: #555555;
}

#header #gnb .m-util a.active:hover {
  background: #246beb;
  border: 1px solid #246beb;
  color: #fff;
}

#header #gnb .top-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

#header #gnb .top-menu dl {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background: rgba(36, 107, 235, 0.05);
  border-radius: 5px;
}

#header #gnb .top-menu dl.active dt a:hover {
  color: #246beb;
  font-weight: 700;
  display: flex;
}

#header #gnb .top-menu dl.active dt a::after {
  content: "\f068";
}

#header #gnb .top-menu dl.active dd {
  display: table;
  transform: translateY(-20px);
  list-style: none;
  padding-bottom: 20px;
}

#header #gnb .top-menu dl dt a {
  position: relative;
  display: block;
  padding: 15px 0;
  font-size: 1.1875rem;
}

#header #gnb .top-menu dl dt a::after {
  content: "\f067";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-57%);
  font-family: "Line Awesome Free";
  font-weight: 900;
}

#header #gnb .top-menu dl dd {
  display: none;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.7s;
}

#header #gnb .top-menu dl dd a {
  position: relative;
  display: block;
  padding: 3px 0 3px 10px;
  color: #555555;
}

#header #gnb .top-menu dl:hover {
  background: #fff;
  color: #555;
  /* color: #246beb; */
}

#header #gnb .top-menu dl dd a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background: rgba(20, 50, 100, 0.2);
}

#header .util {
  display: none;
}

@media screen and (min-width: 1280px) {
  #header {
    position: fixed;
    background: #fff;
    transition: all 0.3s;
  }

  #header.theme-dark {
    background: rgba(0, 0, 0, 0.05);
  }

  #header.theme-dark #logo a,
  #header.theme-dark * {
    color: #fff;
  }

  #header.theme-dark .lang a {
    color: #c6c6c6;
  }

  #header.theme-dark .lang a.active {
    color: #fff;
  }

  #header.is__scroll {
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.07);
  }

  #header #logo a {
    color: #1d1d1d;
  }

  #header #gnb #btnMenu,
  #header #gnb .label-menu,
  #header #gnb .m-util {
    display: none;
  }

  #header #gnb .menu-wrap {
    overflow: visible;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
  }

  #header #gnb .top-menu {
    flex-direction: row;
    margin-top: 0;
  }

  #header #gnb .top-menu dl {
    position: relative;
    padding: 0;
    background-color: transparent;
  }

  #header #gnb .top-menu dl.active dd a:hover {
    color: #246beb;
  }

  #header #gnb .top-menu dl:hover dt a,
  #header #gnb .top-menu dl:focus-within dt a {
    color: #246beb;
  }

  #header #gnb .top-menu dl:hover dt a::before,
  #header #gnb .top-menu dl:focus-within dt a::before {
    width: 100%;
  }

  #header #gnb .top-menu dl:hover dd,
  #header #gnb .top-menu dl:focus-within dd {
    height: auto;
    max-height: 300px;
    padding: 10px 0 20px;
  }

  #header #gnb .top-menu dl dt {
    font-size: 1.2rem;
    font-weight: 400;
  }

  #header #gnb .top-menu dl dt a {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 40px;
  }

  #header #gnb .top-menu dl dt a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #246beb;
    transition: all 0.3s;
  }

  #header #gnb .top-menu dl dt a::after {
    display: none;
  }

  #header #gnb .top-menu dl dd {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    max-height: 0;
    transition: all 0.5s;
    background: #fff;
  }

  #header #gnb .top-menu dl dd a {
    padding: 7px 0;
    text-align: center;
  }

  #header .util {
    display: flex;
  }

  #header .lang {
    display: flex;
  }

  #header .lang a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    color: #8e8e8e;
  }

  #header .lang a.active {
    color: #1d1d1d;
  }

  #header .lang a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background: #c6c6c6;
    opacity: 0.5;
  }

  #header .lang a:first-child::before {
    display: none;
  }

  #header .search-area .btn-search {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 10px;
  }

  #header .search-area .btn-search i {
    font-size: 1.7rem;
    transform: scaleX(-1);
  }

  #header .search-area .layer-search {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  #header .search-area .layer-search.fade-in {
    opacity: 1;
    visibility: visible;
  }

  #header .search-area .layer-search.fade-out {
    opacity: 0;
    visibility: hidden;
  }

  #header .search-area .search-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #fff;
  }

  #header .search-area .search-box .form-search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 10px 0 30px;
    border: 2px solid #246beb;
    border-radius: 62px;
  }

  #header .search-area .search-box .inp-search {
    width: 600px;
    padding: 20px 0;
    border: none;
    background-color: transparent;
  }

  #header .search-area .search-box .inp-search:focus {
    outline: none;
  }

  #header .search-area .search-box .btn-submit {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #246beb;
    color: #fff;
    transform: scaleX(-1);
    font-size: 1.2rem;
  }

  #header .search-area .search-box .btn-close {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #246beb;
  }

  #header .search-area .search-box .btn-close i {
    color: #fff;
    font-size: 2rem;
  }
}

#main {
  flex: 1;

}

.sec-type1,
.sec-type2 {
  padding: 50px 0;
}

.sec-type1 .sec-title,
.sec-type2 .sec-title {
  padding-bottom: 30px;
  font-size: 1.875rem;
  color: #000;
  text-align: center;
}

.sec-txt {
  padding-bottom: 30px;
  font-size: 1.2rem;
  color: #000;
  text-align: center;

}

@media screen and (min-width: 1280px) {

  .sec-type1,
  .sec-type2 {
    padding: 150px 0;
  }
}

/* home_footer */
footer {
  background: #f9f9f9;
  bottom: 0;
}

footer .footer_cont {
  /* 왜 auto 를 붙여? */
  margin: 0 auto 0;
  max-width: 1476px;
  position: relative;
  padding: 50px 90px;
}

footer .footer_cont.mo-foot {
  display: none;
}

footer .footer_cont .footer_left {
  width: calc(100% - 156px);
  float: left;
  text-align: left;
}

footer .footer_cont .footer_left img {
  width: 180px;
}

footer .footer_cont .footer_left .copyright_txt {
  margin: 36px 0 23px;
}

footer .footer_cont .footer_left .copyright_txt p {
  font-size: 12px;
  line-height: 20px;
  color: #999;
  font-weight: 700;
}

footer .footer_cont .footer_left .copyright_txt p.en {
  margin-top: 4px;
  font-size: 14px;
  letter-spacing: 0;
}

footer .footer_cont .footer_left .link_txt {
  display: inline-block;
  margin-right: 9%;
  margin-bottom: 10px;
}

footer .footer_cont .footer_left .link_txt a {
  font-size: 14px;
  line-height: 1;
  color: #999;
  display: inline-block;
  margin-left: 19px;
  font-weight: 700;
  transition: 0.3s;
}

footer .footer_cont .footer_left .link_txt a:hover {
  color: #117ce9;
}

footer .footer_cont .footer_left .link_txt a:first-child {
  margin: 0;
}

footer .footer_cont .footer_left .link_social {
  display: inline-block;
}

footer .footer_cont .footer_left .link_social ul li {
  display: inline-block;
  margin-left: 24px;
  text-align: right;
}

footer .footer_cont .footer_left .link_social ul li:first-child {
  margin: 0;
}

footer .footer_cont .footer_left .link_social ul li a {
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #aaa;
  display: inline-block;
  font-weight: 700;
  transition: 0.3s;
}

footer .footer_cont .footer_left .link_social ul li a:hover {
  color: #117ce9;
}

footer .footer_cont .footer_right {
  width: auto;
  float: right;
  text-align: right;
}

footer .footer_cont .footer_right .famliy_site {
  display: inline-block;
  margin-top: -9px;
  position: relative;
}

footer .footer_cont .footer_right .famliy_site button {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #999;
  display: inline-block;
  padding: 0 42px 0 14px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}

footer .footer_cont .footer_right .famliy_site button:hover {
  background: #000;
}

footer .footer_cont .footer_right .famliy_site button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 13px;
  right: 14px;
  background: url("/static/images/footer_open.png") no-repeat center;
  background-size: cover;
  transition: 0.3s;
}

footer .footer_cont .footer_right .famliy_site ul {
  display: none;
  padding: 8px 0;
  width: 100%;
  position: absolute;
  bottom: 48px;
  text-align: left;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
}

footer .footer_cont .footer_right .famliy_site ul li {
  position: relative;
  padding: 6px 14px;
}

footer .footer_cont .footer_right .famliy_site ul li a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #1e1e1e;
  transition: 0.3s;
}

footer .footer_cont .footer_right .famliy_site ul li a:hover {
  color: #117ce9;
}

footer .footer_cont .footer_right .famliy_site ul li a::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 10px;
  background: url("/static/images/outlink_icon.png") no-repeat center;
  background-size: cover;
  transition: 0.3s;
  opacity: 0;
}

footer .footer_cont .footer_right .famliy_site ul li a:hover::after {
  opacity: 1;
}

footer .footer_cont .footer_right .famliy_site.on button {
  background: #1e1e1e;
}

footer .footer_cont .footer_right .famliy_site.on button::after {
  transform: rotate(45deg);
}

#homeTop {
  height: 100vh;
}

.slide-intro {
  height: 100vh;
  position: relative;
}

.slide-intro .swiper-slide {
  height: 100vh;
  position: relative;
}

.slide-intro .swiper-slide.swiper-slide-active .slide-txt {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.slide-intro .slide-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.8s;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.slide-intro .slide-txt span {
  padding: 3px 10px;
  font-size: 0.875rem;
  background: #246beb;
}

.slide-intro .swiper-slide .txt_e span {
  /* background: #eb2424; */
}

.slide-intro .swiper-slide .txt_g span {
  background: #eb2424;

}

.slide-intro .slide-txt strong {
  display: block;
  margin: 10px 0 15px;
  font-size: 2.3rem;
  line-height: 1.2;
}

.slide-intro .swiper-button-pause {
  display: none;
  position: absolute;
  top: 86.5%;
  left: 26%;
  z-index: 10;
  border-radius: 20px;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100px;
  /* transform: translateX(-1050px); */
}

.slide-intro picture {
  position: relative;
  width: 100%;
}

.slide-intro picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/* before시 처음거만 적용됨 */
/* .slide-intro .swiper-slide picture::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
} */
.slide-intro img {
  height: 100vh;
}

.slide-intro .swiper-button-prev,
.slide-intro .swiper-button-next {
  top: auto;
  left: 50%;
  bottom: 90px;
}

.slide-intro .swiper-button-prev:hover::before,
.slide-intro .swiper-button-next:hover::before {
  color: #003675;
}

.slide-intro .swiper-button-prev::before,
.slide-intro .swiper-button-next::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}

.slide-intro .swiper-button-prev::after,
.slide-intro .swiper-button-next::after {
  display: none;
}

.slide-intro .swiper-button-prev {
  transform: translateX(-600px);
}

.slide-intro .swiper-button-prev::before {
  content: "\f060";
}

.slide-intro .swiper-button-next {
  transform: translateX(-530px);
}

.slide-intro .swiper-button-next::before {
  content: "\f061";
}

.slide-intro .swiper-pagination {
  width: 70px;
  top: auto;
  left: 50%;
  bottom: 86px;
  transform: translateX(-470px);
  color: #fff;
  font-size: 1.2rem;
}

.slide-intro .swiper-pagination span {
  font-weight: bold;
}

@media screen and (min-width: 1280px) {
  .slide-intro .swiper-button-pause {
    display: block;
  }

  .slide-intro .slide-txt {
    width: 100%;
    text-align: left;
  }

  .slide-intro .slide-txt span {
    font-size: 1.2rem;
  }

  .slide-intro .slide-txt strong {
    margin-bottom: 30px;
    font-size: 4rem;
  }

  .slide-intro .slide-txt p {
    font-size: 1.5rem;
  }

  .slide-intro img {
    /* height: 820px; */
    /* 왜 이래둔거? */
  }
}

.sec-eft {
  background-color: #f8f8f8;
  overflow: hidden;
}

.slide-eft {
  position: relative;
}

.slide-eft .swiper {
  overflow: visible;
  width: 85%;
  margin-left: 0;
  margin-right: 0;
}

.slide-eft .swiper-slide {
  width: 500px;
  height: 400px;
  background: #f8f8f8;
  border-radius: 20px;
  
}

.slide-eft .swiper-slide img {
  border-radius: 20px;
}


.slide-eft .swiper-button-prev,
.slide-eft .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0;
  background: rgba(36, 107, 235, 0.2);
  transform: translateY(-50%);
  border-radius: 50%;
}

.slide-eft .swiper-button-prev:hover,
.slide-eft .swiper-button-next:hover {
  border: 3px solid #246beb;
  background: #fff;
}

.slide-eft .swiper-button-prev::after,
.slide-eft .swiper-button-next::after {
  transform: scale(0.8);
}

.slide-eft .swiper-button-prev {
  left: -100px;
}

.slide-eft .swiper-button-next {
  right: -100px;
}

@media screen and (min-width: 768px) {
  .slide-eft .swiper {
    width: 95%;
  }
}

@media screen and (min-width: 1280px) {
  .slide-eft .swiper {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */


/* 게임정보 */


.sec-content .swiper-wrapper .swiper-slide::before {

  width: 100%;
  height: 20%;
  content: "";
  background: rgba(20, 20, 20, 0.5);
  border-radius: 0 0 20px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: all .3s;
}

.sec-content .swiper-wrapper .main_lst1 {
  background: url("../img/02_dice.jpg") no-repeat center/cover;
}

.sec-content .swiper-wrapper .main_lst2 {
  background: url("../img/02_island.png") no-repeat center/cover;
}

.sec-content .swiper-wrapper .main_lst3 {
  background: url("../img/02_pokerr.jpg") no-repeat center/cover;
}

.sec-content .swiper-wrapper .main_lst4 {
  background: url("../img/02_chess.jpg") no-repeat center/cover;
}

.sec-content .swiper-wrapper .main_lst5 {
  background: url("../img/02_junggle.jpg") no-repeat center/cover;
}

.sec-content .swiper-wrapper .main_lst6 {
  background: url("../img/02_card.jpg") no-repeat center/cover;
}

.sec-content .swiper-slide a {
  padding: 3rem;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
}

.sec-content .swiper-slide a .game_line {

  width: 13.5rem;
  height: 1px;
  background-color: #fff;
  text-indent: -999rem;
}

.sec-content .swiper-slide a h4 {
  position: relative;
  top: 0;
  z-index: 2;
  transition: all .3s;
  transform: translateY(300px);
}

.sec-content .swiper-slide a .game_line,
.sec-content .swiper-slide a p {
  margin-top: 1rem;
  opacity: 0;
  position: relative;
  transition: all .3s;
  transform: translateY(13rem);
  z-index: 20;

}

.sec-content .swiper-wrapper .swiper-slide:hover:before {
  height: 100%;

  border-radius: 20px;
}

.sec-content .swiper-slide:hover a h4 {
  transform: translateY(0);
  top: 0;
}

.sec-content .swiper-slide:hover a .game_line,
.sec-content .swiper-slide:hover a p {
  opacity: 1;
  transform: translateY(0);
}

.ad_link {
  background: url(../img/03_ad.jpg) no-repeat center/cover;
  color: #fff;
  padding: 40px 20px;
  width: 100%;
  height: 180px;
  transition: all .3s;
}

.ad_link:hover a {
  /* color: #222; */
  background: #222;
}

.ad_link:hover {
  background: #eaa url(../img/03_people.jpg) no-repeat center;
  color: #222;
}

/* .ad_link::before{
  
  top: -100px;
  width: 100vw;
  height: 180px;
  content: "";
  background: rgba(20, 20, 20, 0.5);
  position: absolute;
  opacity: 1;
  transition: all .3s; 
}
  */
.ad_link .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  transition: all .5s;
}

.btn:hover {
  background-color: #fff;
  border-radius: 20px;
}

.sec-type2 .container {

  /* display: flex; */
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.dep1_list {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.dep1_list li a {
  text-align: center;
  align-content: center;
}

.dep1_list li {
  padding: 50px;
  width: 300px;
}

.dep1_list li div {
  margin: 30px 0;

}

.dep1_list .img_wrap {
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;

}

.dep1_list .img_wrap img {
  background-color: #000;
  height: 100%;
  width: 100%;
  align-items: center;
}

/* scrolling floating button */

.fixedTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 6;
  border-radius: 50%;
  background: #246beb url("../img/icon_top.svg") no-repeat center/20px;
  opacity: 0;
  transition: all .3s;
  cursor: pointer;
}

/* scrolling */

body.scrolling .fixedTop {
  opacity: 1;
  transform: translateY(0);
}

body.scrolling header {
  padding: 1.5rem 0;
  top: 0;
}

body.scrolling header::before {
  opacity: 1;
}

body.scrolling nav ul a {
  color: #000;
}
#footer .foot_icon_logo{
    height: 30px;
}