@media screen and (max-width:1440px) {
    html {
        font-size: 52.5%;
    }
    .inner{
        padding:0 3rem
    }
    .rabbit{
        max-height: 93rem;
    }
    .rabbit .img_wrap{
        width: 44.8rem;
        height: 50.9rem;
    }
    .rabbit .img_wrap .deco1{
        max-width: 16rem;
    }
    .rabbit .img_wrap .deco2{
        max-width: 30rem;
    }
    .rabbit .img_wrap .deco3{
        max-width: 16rem;
    }
    .rabbit_bg{
        height: 36.9rem;
        background: url(../img/hero_bg.svg) repeat-x left -66rem bottom;
    }
}
@media screen and (max-width:1200px) {
    .inner {
        padding:0 2rem
    }
    .dep1{
        padding:10rem 0;
    }
    .ftr_dep2{
        padding: 2rem 10rem 2rem 2rem
    }
    .ftr_dep2 h4 {
        width: 15rem;
    }
}
@media screen and (max-width:999px) {
    header {
        padding-top:2rem
    }
    .tit_mob{
        display: block;
        position: relative;
        z-index: 6;
        height: 4.1rem;
        width: 3.6rem;
    }
    .tit_mob img{
        position: absolute;
    }
    .tit_mob img.mob_logo_wh{
        opacity: 1;
    }
    .tit_mob img.mob_logo_bl{
        opacity: 0;
    }
    .kebab_ico{
        display: block;
        width: 2.8rem;
        height: 1.8rem;
        position: relative;
        z-index: 6;
    }
    .kebab_ico span{
        display: block;
        width:100%;
        height: .2rem;
        background-color: #fff;
        position: absolute;
        left:0;
        transition: all .3s;
    }
    .kebab_ico span:nth-child(1){
        top:0
    }
    .kebab_ico span:nth-child(2){
        top:48%
    }
    .kebab_ico span:nth-child(3){
        top:98%
    }

    header h1.tit{
        display: none;
    }
    nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.645);
        color:#fff;
        right: -110%;
        top:0;
        z-index: 5;
        transition: right .5s ease-in-out;
    }
    nav ul {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    } 
    nav ul a{
        margin-left: 0;
        font-size: 2.6rem;
    }

    /* scrolling */
    body.scrolling .tit_mob img.mob_logo_bl{
        opacity: 1;
    }
    body.scrolling .tit_mob img.mob_logo_wh{
        opacity: 0;
    }
    body.scrolling  .kebab_ico span{
        background-color: #000000;
    }
    body.scrolling nav ul a{
        color:#fff
    }
    /* mobile navigation */
    body.mobNav nav {
        right:0
    }
    body.mobNav .tit_mob img.mob_logo_bl{
        opacity: 0;
    }
    body.mobNav .tit_mob img.mob_logo_wh{
        opacity: 1;
    }
    body.mobNav  .kebab_ico span{
        background-color: #ffffff;
    }
    body.mobNav  .kebab_ico span:nth-child(1){
        top:48%;
        transform: rotate(45deg);
    }
    body.mobNav  .kebab_ico span:nth-child(2){
        transform: translateX(100%);
        opacity: 0;
    }
    body.mobNav  .kebab_ico span:nth-child(3){
        top:48%;
        transform: rotate(-45deg);
    }
    .ftr_dep1_list{
        justify-content: space-around;
    }
    .dep1_list{
        flex-wrap:wrap
    }
    .dep1_list li +li{
        margin-left:0
    }
    .dep1_list .img_wrap img{
        width:100%
    }
}
@media screen and (max-width:799px) {
    html {
        font-size: 62.5%;
    }
    /* common */
    .inner {
        padding:0 1.5rem 
    }
    .con_txt{
        font-size: 1.5rem;
        max-width: 30rem;
        margin: auto;
    }
    .dep_tit{
        font-size: 4rem;
    }
    a.btn{
        font-size: 1.6rem;
        padding:1rem 2.5rem
    }

    /* hero wrap  */

    .rabbit_bg{
        height: 27.8rem;
        background: url(../img/hero_bg_mob.svg) repeat-x left 53rem bottom/auto 100%;
    }
    .rabbit .inner{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .rabbit .img_wrap{
        align-self: self-end;
        width:29.5rem;
        height: 30.3rem;
    }
    .rabbit .img_wrap .deco1{
       display: none;
    }
    .rabbit .img_wrap .deco2{
        max-width: 21.3rem;
    }
    .rabbit .img_wrap .deco3{
        max-width:10rem;
    }
    .rabbit_tit{
        padding-top:11.2rem;
        line-height: 3.2rem;
    }
    .rabbit_tit .big{
        font-size: 4.5rem;
    }
    .rabbit_tit .small{
        font-size: 3.2rem;
    }
    .dep2{
        height: 64rem;
    }
    .dep2 .inner{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .dep3_list{
        justify-content: center;
    }
    .dep3_list li{
        width: 32.4rem;
        margin:1rem
    }
    .ftr_dep1{
        display: none;
    }
    .ftr_dep2{
        flex-direction: column;
        align-items: center;
        padding:3rem 0 5rem
    }
    .ftr_list{
        margin:4rem 0 2rem
    }
}